* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    box-shadow: 0 6px 10px #ddd;
    position: relative;
    z-index: 1;
}

section {
    display: flex;
    justify-content: center;
    /* margin-top: 4%; */
    width: 100%;
}

.form-control {
    margin-bottom: 3px;
}

.containers {
    width: 100%;
}

.containarr {
    width: 100%;
    display: flex;
}

.sidebar {
    padding-left: 5px;
    margin: 0%;
    /* position: absolute; */
    height: 100vh;
    width: 13vw;
    background-color: #dc3545;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.siz {
    font-size: 0.9em;
}

.respo {
    display: none;
}

.welc {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.cards {
    width: 100%;
}

.btnadd {
    border-radius: 22px;
    border-color: #dc3545;
    width: 11%;
    background-color: #dc3545;
    --bs-btn-hover-bg: #f38d8d;
    --bs-btn-hover-border-color: #f38d8d;
    --bs-btn-active-bg: #f38d8d;
    /* --bs-btn-hover-color:#0000; */
    /* --bs-btn-disabled-bg: #030303;
  --bs-btn-disabled-border-color: #000000; */
}

@media only screen and (max-width: 978px) {
    .respo {
        display: block;
        height: 100%;
    }
    a {
        color: rgb(0, 0, 0);
    }
    .sidebar {
        display: none;
    }
}